<div class="container">
  <header class="header">
    <h1>
      <a href="#">
        <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3708647559" alt="logo">
      </a>
    </h1>
    <nav class="header-progress">
      <ol>
        <li>
          会員情報
          <div class="header-progress-bar-top completed"></div>
        </li>
        <li>
          電話番号認証
          <div class="header-progress-bar completed"></div>
        </li>
        <li>
          住所入力
          <div class="header-progress-bar completed"></div>
        </li>
        <li class="active">
          支払い方法
          <div class="header-progress-bar active"></div>
        </li>
        <li>
          完了
          <div class="header-progress-bar-end"></div>
        </li>
      </ol>
    </nav>
  </header>
  <main class="main">
    <section class="main-section">
      <h2>支払い方法</h2>
      <form class="main-section__form" action="" method="" accept-charset="utf-8">
        <div class="main-section__form-content credit-card">
          <div class="main-section__form-content-group">
            <label for="payment_card">カード番号</label>
            <span>必須</span>
            <input type="text" name="" value="" placeholder="半角数字のみ">
          </div>
          <div class="main-section__form-content-card">
            <ul>
              <li>
                <img src="https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2540802024" alt="" width="49">
              </li>
              <li>
                <img src="https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2540802024" alt="" width="34">
              </li>
              <li>
                <img src="https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2540802024" alt="" width="30">
              </li>
              <li>
                <img src="https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2540802024" alt="" width="32">
              </li>
              <li>
                <img src="https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2540802024" alt="" width="21">
              </li>
              <li>
                <img src="https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2540802024" alt="" width="32">
              </li>
              <li>
                <img src="https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2540802024" alt="" width="32">
              </li>
            </ul>
          </div>
          <div class="main-section__form-content-group">
            <label for="payment_card_expire">有効期限</label>
            <span>必須</span>
            <select class="month-year" name="">
              <option value="1">01</option>
              <option value="2">02</option>
              <option value="3">03</option>
              <option value="4">04</option>
              <option value="5">05</option>
              <option value="6">06</option>
              <option value="7">07</option>
              <option value="8">08</option>
              <option value="9">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <i></i>
            <select class="month-year" name="">
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
            </select>
            <i></i>
          </div>
          <div class="main-section__form-content-group">
            <label for="address2_label">セキュリティーコード</label>
            <span>必須</span>
            <input type="text" name="" value="" placeholder="カード背面4桁もしくは3桁の番号">
            <div class="main-section__form-content-group-seqcode">
              <div class="main-section__form-content-group-seqcode-text">
                <i></i>カード裏面の番号とは？
              </div>
            </div>
          </div>
          <button class="main-section__form-content-submit" type="submit">次へ進む</button>
        </div>
      </form>
    </section>
  </main>
  <footer class="footer">
    <nav>
      <ul class="clearfix">
        <li><a href="#" title="">プライバシーポリシー</a></li>
        <li><a href="#" title="">メルカリ利用規約</a></li>
        <li><a href="#" title="">特定商取引に関する表記</a></li>
      </ul>
    </nav>
    <a class="footer-icon" href="#" >
      <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3708647559" alt="">
    </a>
    <p><small>© 2019 Mercari</small></p>
  </footer>
</div>
