<body>
  <div class="container">
    <header class="header">
      <h1>
        <a href="#">
          <img src="image/mercalli_logo.svg" alt="logo">
        </a>
      </h1>
      <nav class="header-progress">
        <ol>
          <li class="active">
            会員情報
            <div class="header-progress-bar-top"></div>
          </li>
          <li>
            電話番号認証
            <div class="header-progress-bar"></div>
          </li>
          <li>
            住所入力
            <div class="header-progress-bar"></div>
          </li>
          <li>
            支払い方法
            <div class="header-progress-bar"></div>
          </li>
          <li>
            完了
            <div class="header-progress-bar-end"></div>
          </li>
        </ol>
      </nav>
    </header>
    <main class="main">
      <section class="main-section">
        <h2>会員情報入力</h2>
        <form class="main-section__form" action="" method="" accept-charset="utf-8">
          <div class="main-section__form-content">
            <div class="main-section__form-content-group">
              <label for="nickname">ニックネーム</label>
              <span>必須</span>
              <input type="text" name="" value="" placeholder="例）メルカリ太郎">
            </div>
            <div class="main-section__form-content-group">
              <label for="nickname">メールアドレス</label>
              <span>必須</span>
              <input type="text" name="" value="" placeholder="PC・携帯どちらでも可">
            </div>
            <div class="main-section__form-content-group">
              <label for="nickname">パスワード</label>
              <span>必須</span>
              <input type="text" name="" value="" placeholder="6文字以上">
            </div>
            <div class="main-section__form-content-group">
              <label for="nickname">パスワード（確認）</label>
              <span>必須</span>
              <input type="text" name="" value="" placeholder="6文字以上">
            </div>
            <div class="main-section__form-content-group">
            </div>
            <button class="main-section__form-content-submit" type="submit">次へ進む</button>
          </div>
        </form>
      </section>
    </main>
    <footer class="footer">
      <nav>
        <ul class="clearfix">
          <li><a href="#" title="">プライバシーポリシー</a></li>
          <li><a href="#" title="">メルカリ利用規約</a></li>
          <li><a href="#" title="">特定商取引に関する表記</a></li>
        </ul>
      </nav>
      <a class="footer-icon" href="#" >
        <img src="image/mercalli_logo-gray.svg" alt="">
      </a>
      <p><small>© 2019 Mercari</small></p>
    </footer>
  </div>
</body>
