<div class="container">
  <header class="header">
    <h1>
      <a href="#">
        <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3708647559" alt="logo">
      </a>
    </h1>
  </header>
  <main class="main">
    <section class="main-section">
      <h2>新規会員登録</h2>
      <div class="main-section-inner">
        <div class="main-section-inner-container">
          <a class="main-section-inner-container-mail" href="#"><i class=""></i>メールアドレスで登録</a>
          <button id="facebook-login" class="main-section-inner-container-facebook" type=""><i class=""></i>Facebookで登録</button>
          <button id="google-login" class="main-section-inner-container-google" type=""><i class=""></i>Googleで登録</button>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <nav>
      <ul class="clearfix">
        <li><a href="#" title="">プライバシーポリシー</a></li>
        <li><a href="#" title="">メルカリ利用規約</a></li>
        <li><a href="#" title="">特定商取引に関する表記</a></li>
      </ul>
    </nav>
    <a class="footer-icon" href="#" >
      <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3708647559" alt="">
    </a>
    <p><small>© 2019 Mercari</small></p>
  </footer>
</div>
