%body
  .container
    %header.header
      %h1
        %a{:href => "#"}
          %img{:alt => "logo", :src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3708647559"}/
    %main.main
      %section.main-section
        %h2 新規会員登録
        .main-section-inner
          .main-section-inner-container
            = link_to membership_new_path do
              .main-section-inner-container-mail{:href => "#"}
                %i>
                メールアドレスで登録
            %button#facebook-login.main-section-inner-container-facebook{:type => ""}
              %i>
              Facebookで登録
            %button#google-login.main-section-inner-container-google{:type => ""}
              %i>
              Googleで登録
    %footer.footer
      %nav
        %ul.clearfix
          %li
            %a{:href => "#", :title => ""} プライバシーポリシー
          %li
            %a{:href => "#", :title => ""} メルカリ利用規約
          %li
            %a{:href => "#", :title => ""} 特定商取引に関する表記
      %a.footer-icon{:href => "#"}
        %img{:alt => "", :src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3708647559"}/
      %p
        %small © 2019 Mercari
