.myPage__content
  .myPage__content__top
    .myPage__content__top__header
      .myPage__content__top__header__userImage
      .myPage__content__top__header__userName
        = @user.nickname
      .myPage__content__top__header__userEvaluate 評価 0
      .myPage__content__top__header__userExhibit 出品数 0
    .myPage__content__top__container
      .myPage__content__top__container__tab
        .myPage__content__top__container__tab__notice.myPage__content__top__container__tab__notice--display.myPage__content--tabColor
          %h3.myPage__content__top__container__tab__notice__font お知らせ
        .myPage__content__top__container__tab__todo.myPage__content__top__container__tab__todo--display
          %h3.myPage__content__top__container__tab__todo__font やることリスト
      .myPage__content__top__container__notice__show 現在、通知はありません
      .myPage__content__top__container__todo__show 現在、やることリストはありません
  .myPage__content__bottom
    .myPage__content__bottom__header
      .myPage__content__bottom__header__font 購入した商品
    .myPage__content__bottom__container
      .myPage__content__bottom__container__tab
      .myPage__content__bottom__container__tab__purchase.myPage__content__bottom__container__tab__purchase--display.myPage__content--tabColor
        %h3.myPage__content__bottom__container__tab__purchase__font 取引中
      .myPage__content__bottom__container__tab__purchased.myPage__content__bottom__container__tab__purchased--display
        %h3.myPage__content__bottom__container__tab__purchased__font 過去の取引
    .myPage__content__top__container__purchase__show 取引中の商品がありません
    .myPage__content__top__container__purchased__show 過去に取引した商品がありません
