.profile
  %h2.profile__heading プロフィール
  %form
    .profile__header
      .profile__header__userImage
      %input.profile__header__userName{placeholder: "例)AYA☆セール中"}
    .profile__content
      %textarea.profile__content__textarea{placeholder: "例）こんにちは☆ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
      %bottun.profile__content__bottun 変更する
