.main-header
  .main-header__inner
    %h1.l-left
      = link_to root_path do
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2777205881"}
    %form.search-box
      %input.search-form{type: "search", name: "keyword", placeholder: "キーワードから探す"}
      / = form_for [] do |f|
      /   = f.text_field :product, class: "search-form", placeholder: "何をお探しですか?"
      %i.fa.fa-search
    .main-header__nav-box
      %nav.left-box
        %ul.search-box
          %li.list-nav
            %a.category{href: ""}
              カテゴリから探す
            %ul.category
              %li.list
                %a{href: ""}
                  レディース
              %li.list
                %a{href: ""}
                  メンズ
              %li.list
                %a{href: ""}
                  ベビー・キッズ
              %li.list
                %a{href: ""}
                  インテリア・住まい・小物
              %li.list
                %a{href: ""}
                  本・音楽・ゲーム
              %li.list
                %a{href: ""}
                  おもちゃ・ホビー・グッズ
              %li.list
                %a{href: ""}
                  コスメ・香水・美容
              %li.list
                %a{href: ""}
                  家電・スマホ・カメラ
              %li.list
                %a{href: ""}
                  スポーツ・レジャー
              %li.list
                %a{href: ""}
                  ハンドメイド
              %li.list
                %a{href: ""}
                  チケット
              %li.list
                %a{href: ""}
                  自転車・オートバイ
              %li.list
                %a{href: ""}
                  その他
              %li.list
                %a{href: ""}
                  カテゴリー一覧

          %li.list-nav
            %a.brand{href: ""}
              ブランドから探す
            %ul.brand
              %li.list
                %a{href: ""}
                  シャネル
              %li.list
                %a{href: ""}
                  ナイキ
              %li.list
                %a{href: ""}
                  ルイヴィトン
              %li.list
                %a{href: ""}
                  シュプリーム
              %li.list
                %a{href: ""}
                  アディダス
              %li.list
                %a{href: ""}
                  ブランド一覧

      %nav.right-box
        %ul.header-nav
          %li
            %a.main-header__btn{href: ""}
              ログイン
          %li
            %a.main-header__signup{href: ""}
              新規会員登録
