.main-header {
  height: 140px;
  width: 100%;
  background-color: $white;
  position: relative;
  &__inner {
    padding: 8px 0 0;
    height: 90px;
    width: 1020px;
    margin: 0 auto;
  }
}

h1.l-left {
  padding-top: 1px;
  width: 135px;
  height: 39px;
  float: left;
  img {
    width: 135px;
    height: 40px;
  }
}

form.search-box {
  height: 44px;
  width: calc(100% - 150px);
  position: relative;
  float: right;
  input.search-form {
    border: 1px solid $lightGray;
    border-radius: 2px;
    height: 38px;
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 0 10px;
    margin-top: 2px;
  }
  i.icon-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-header__nav-box {
  margin: 8px 0 0;
  nav.left-box {
    float: left;
    li.list-nav {
      padding-right: 16px;
      position: relative;
      display: inline-block;
      a.category {
        color: $gray;
        line-height: 40px;
        font-size: 14px;
      }
      a.category:hover {
        color: $lightBlue;
      }
      ul.category {
        position: absolute;
        visibility: hidden;
        z-index:100;
      }
      a.brand {
        color: $gray;
        line-height: 40px;
        font-size: 14px;
      }
      a.brand:hover {
        color: $lightBlue;
      }
      ul.brand {
        position: absolute;
        visibility: hidden;
        z-index:100;
      }
      li.list {
        padding-left: 16px;
        background: $white;
        width: 224px;
        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 40px;
          color: $gray;
        }
      }
      li.list:hover {
        background: $red;
        a {
          color: $white;
        }
      }
    }
    li.list-nav:hover {
      ul.category {
      visibility: visible;
      }
      ul.brand {
      visibility: visible;
      }
    }
  }
  nav.right-box {
    float: right;
    li {
      display: inline-block;
      line-height: 36px;
      font-size: 14px;
      a.main-header__btn {
        background-color: $red;
        text-align: center;
        padding: 7px;
        border-radius: 4px;
        border: 1px solid $red;
        color: $white;
      }
      a.main-header__signup {
        text-align: center;
        padding: 7px;
        border-radius: 4px;
        border: 1px solid $lightBlue;
        color: $lightBlue;
      }
    }
  }
}

