.main-header {
  height: 140px;
  width: 100%;
  background-color: #fff;
  position: relative;

  &__inner {
    padding: 8px 0 0;
    height: 90px;
    width: 1020px;
    margin: 0 auto;
  }
}

h1.l-left {
  padding-top: 1px;
  width: 135px;
  height: 39px;
  float: left;

  img {
    width: 135px;
    height: 40px;
  }
}

form.search-box {
  height: 44px;
  width: calc(100% - 150px);
  position: relative;
  float: right;

  input.search-form {
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 38px;
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 0 10px;
    margin-top: 2px;
  }

  i.icon-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
  }
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-header__nav-box {
  margin: 8px 0 0;

  a.category {
    float: left;
    position: relative;
    right: 15px;
    bottom: 5px;
    margin: 12px;
    color: #333;
    height: 28px;
    line-height: 26px;
    font-size: 14px;
  }
  a.category:hover {
    color: #0099e8;
  }
  a.brand {
    position: relative;
    margin: 2px;
    color: #333;
    height: 38px;
    line-height: 32px;
    font-size: 14px;
  }
  a.brand:hover {
    color: #0099e8;
  }

  ul.category {
    display: none;
  }
  ul.brand {
    display: none;
  }
  nav.right-box {
    float: right;
    a.main-header__btn {
      position: relative;
      right: 98px;
      bottom: 28px;
      padding: 7px;
      line-height: 30px;
      border-radius: 4px;
      text-align: center;
      background-color: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      font-size: 14px;
    }
    a.main-header__signup {
      position: relative;
      right: 10px;
      bottom: 58px;
      padding: 7px;
      line-height: 30px;
      border-radius: 4px;
      border: 1px solid #0099e8;
      text-align: center;
      color: #0099e8;
      font-size: 14px;
    }
  }
}

