.container {
  padding: 0 0 220px;
  .header{
    text-align: center;
    height: 128px;
    width: 100%;
    h1 {
      margin: 40px 0 0;
      display: inline-block;

      a {
        width: 185px;
        height: 49px;
        img {
          width: 185px;
          height: 49px;
        }
      }
    }
  }
  .main {
    display: block;
    .login-panel {
      max-width: none;
      max-width: 456px;
      margin: 0 auto;
      background: #fff;
      &__no-account {
        padding: 40px 64px;
        text-align: center;
        @include max-screen($sm) {
          padding: 24px 32px;
        }
        p {
          font-size: 14px;
          margin: 0;
        }
        a {
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
          text-decoration: none;
        }
      }
      &__sns {
        padding: 32px 64px;
        border-top: 1px solid #eee;
        @include max-screen($sm) {
          padding: 24px 32px;
        }
        &-facebook {
          position: relative;
          background-color: #385185;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          min-height: 1.5em;
          i {
            position: absolute;
            top: 16px;
            left: 16px;
            display: inline-block;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 20px;
          }
        }
        &-google {
          position: relative;
          margin: 16px 0 0;
          background-color: #dc4e41;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          min-height: 1.5em;
          i {
            position: absolute;
            top: 16px;
            left: 16px;
            display: inline-block;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 20px;
          }
        }
      }
      &__mail {
        padding: 32px 64px;
        @include max-screen($sm) {
          padding: 24px 32px;
        }
      }
      &__form {
        padding: 24px 64px 32px;
        display: block;
        &-form-mail {
          margin: 0;
          cursor: auto;
          color: #333;
          &-input {
            margin: 0;
            width: 100%;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        &-form-password {
          margin: 24px 0 0;
          cursor: auto;
          color: #333;
          &-input {
            margin: 0;
            width: 100%;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }

        &-form-certification {
          margin: 24px 0 0;
        }
        &-form-submit {
          margin: 24px 0 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
        }
        &-form-forgot {
          display: block;
          margin: 40px 0 0;
          color: #0099e8;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#footer {
  width: 456px;
  // height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  background: #f5f5f5;
  @include max-screen($sm) {
    width: 100%;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 0 0 16px;
      font-size: 12px;
      @include max-screen($sm) {
        display: block;
        margin: 16px 0 0;
      }
      a {
        display: block;
        color: #333;
        text-decoration: none;
      }
    }
  }
  .footer-icon {
    display: block;
    color: #333;
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    text-decoration: none;
    a {
      display: block;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  p {
    margin: 8px 0 0;
    small {
      font-size: 12px;
    }
  }
}

#flash_alert{
  color:red;
  margin-top:10px;
}

.g-recaptcha {
  margin-right:auto;
  margin-left:auto;
  text-align: center;
  width:300px;
  margin-top:20px;
}
