.modalwin-hide {
  height: 300px;
  max-width: 500px;
  background-color: $white;
  margin: 40px auto;
  display: none;
  z-index: 10000;
  @include max-screen($xs) {
    margin: 40px 16px;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}

.delete {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  &__text {
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 15px;
    &__confirm {
      text-align: center;
      font-size: 15px;
      padding-bottom: 117px;

    }
  }
  &__btn {
    height: 53px;
    width: 50%;
    float: left;
    border-style: solid none none solid;
    border-width: 1px;
    border-color: $lightGray;
    &__confirm {
      line-height: 53px;
      margin: 0 auto;
      color: black;
      display: block;
      text-align: center;
    }
  }
}

.cancel__btn {
  height: 53px;
  width: 50%;
  float: left;
  border-style: solid none none none;
  border-width: 1px;
  border-color: $lightGray;
  &__back {
    display: block;
    text-align: center;
    line-height: 53px;
    margin: 0 auto;
    color: black;
  }
}
