.nav {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  &__angle {
    margin: 0 8px;
    font-size: 12px;
    color: #888;
  }
  ul {
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 17px 0 16px;
    white-space: normal;
    li {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      &:last-child {
        font-weight: 600;
      }
      a {
        color: #333;
        text-decoration: none;
      }
      i {
        margin: 0 8px;
        font-size: 9px;
        color: #888;
        display: inline-block;
        font-family: 'icon-font';
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      }
    }
  }
}

#item-container {
  padding: 0 40px 40px;
  background: #fff;
  margin: 0 auto 0;
  width: 700px;
  @include max-screen($sm) {
    width: 100%;
    padding: 24px 16px 55px 16px;
  }
}

.item-container {
  padding: 24px 40px 40px;
  background: #fff;
  margin: 40px auto 0;
  width: 700px;
  @include max-screen($sm) {
    width: 100%;
    padding: 24px 16px 55px 16px;
  }
  h1 {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
  }
  p {
    margin: 8px 0 0;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
  }
  &__main {
    margin: 16px 0 0;
    &-photo {
      position: relative;
      float: left;
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      margin: 0 auto;
      background: #fafafa;
      @include max-screen($sm) {
        float: none;
      }
      &-main {
        width: 300px;
        img {
          margin: auto;
          height: 300px;
          width: 100%;
          vertical-align: middle;
          object-fit: cover;
        }
      }
      &-bottom {
        line-height: 0;
        font-size:0;
          &-ele {
            position: relative;
            overflow: hidden;
            display: inline-block;
            padding: 0;
            height: 60px;
            width: 60px;
            cursor: pointer;
            img {
              position: absolute;
              top: 0;
              left: 50%;
              width: auto;
              height: 100%;
              transform: translate(-50%, 0);
            }
          }
      }
    }
    &-table {
      @include product_table;
      float: right;
      @include max-screen($sm) {
        display: none;
      }
    }
    &-table_sm {
      @include product_table;
      margin-top: 30px;
      @include min-screen($sm) {
        display: none;
      }
    }
  }
  &__price {
    @include price;
  }
  &__price_sm {
    display: none;
    @include price;
    @include max-screen($sm) {
      display: block;
    }
  }
  &__buy {
    @include button_buy;
  }
  &__sold {
    height: 60px;
    line-height: 60px;
    display: block;
    background: #888;
    color: $white;
    line-height: 56px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    @include max-screen($sm) {
      font-size: 18px;
      height: 56px;
    }
  }
  &__sold_sm {
    display: none;
    @include max-screen($sm) {
      display: block;
      height: 56px;
      line-height: 56px;
      display: block;
      background: #888;
      color: $white;
      line-height: 56px;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      text-decoration: none;
    }
  }
  &__buy_sm {
    @include min-screen($sm) {
      display: none;
    }
    display: block;
    @include button_buy;
    margin: 55px 0 0;
  }
  &__edit {
    height: 45px;
    line-height: 45px;
    display: block;
    margin: 0 0 15px 0;
    background: $red;
    color: #fff;
    text-align: center;
    font-weight: solid;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      opacity: 0.9;
    }
  }
  &__delete {
    height: 45px;
    width: 100%;
    line-height: 45px;
    display: block;
    margin: 0;
    background: #aaa;
    color: #fff;
    text-align: center;
    font-weight: solid;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  &__description {
    padding: 32px 0 0;
    p {
      word-break: break-all;
      white-space: pre-wrap;
      font-size: 18px;
      color: #333;
      line-height: 1.5;
      margin: 0;
      @include max-screen($sm) {
        font-size: 14px;
      }
    }
  }
  &__button {
    margin: 16px 0 0;
    &-left {
      float: left;
      @include max-screen($sm) {
        float: none;
      }
      &-like {
        display: inline-block;
        color: #333;
        background: #f5f5f5;
        padding: 8px 16px;
        border-radius: 40px;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
      }
      &-report {
        display: inline-block;
        margin: 0 0 0 16px;
        color: #333;
        color: #333;
        background: #f5f5f5;
        padding: 8px 16px;
        border-radius: 40px;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &-right {
      float: right;
      margin: 8px 0 0;
      @include max-screen($sm) {
        float: none;
        margin: 16px 0 0;
      }
      a {
        display: inline-block;
        color: #0099e8;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.item-link {
  margin: 24px auto 0;
  max-width: 700px;
  padding: 0;
  @include max-screen($sm) {
    margin: 24px 4% 0;

  }
  &__angle {
    font-size: 15px;
  }
  &-prev {
    width: 45%;
    position: relative;
    word-wrap: break-word;
    float: left;
    list-style: none;
    a {
      color: #0099e8;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
      i {
        margin-right: 4px;
      }
    }
  }
  &-next {
    width: 45%;
    position: relative;
    word-wrap: break-word;
    float: right;
    list-style: none;
    text-align: right;
    a {
      color: #0099e8;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
      i {
        margin-left: 4px;
      }
    }
  }
}

.item-social-media-box {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
  @include max-screen($sm) {
    width: 100%;
  }
  ul {
    margin: 16px 0 0;
    text-align: center;
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      a {
        display: block;
        color: #0099e8;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
        i {
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          display: inline-block;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
        }
      }
    }
  }
  &-facebook {
    color: #fff;
    background: #385185;
    font-size: 18px;
  }
  &-twetter {
    color: #fff;
    background: #5d9dc9;
    font-size: 18px;
  }
  &-line {
    color: #fff;
    background: #00c137;
    font-size: 30px;
  }
  &-pinterest {
    color: #fff;
    background: #aa262a;
    font-size: 18px;
  }
}

.item-exhibitor {
  width: 700px;
  margin: 0 auto;
  @include max-screen($sm) {
    width: 550px;
  }
  @include max-screen($xs) {
    width: 100%;
  }
  &__item-box {
    overflow: hidden;
    padding: 0;
    h2 {
      margin: 24px 0 8px;
      font-size: 28px;
      line-height: 1.4;
      @include max-screen($sm) {
        margin: 24px 8% 8px;
      }
      @include max-screen($xs) {
        margin: 24px 4% 8px;
      }
      a {
        color: #0099e8;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
          text-decoration: underline;
        }
      }
    }
    .item {
      margin: 20px 0;
      text-align: center;
      a.item__link {
        font-size: 20px;
        color: #0099e8;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          opacity: 0.7;
        }
      }
    }
    &-content {
      padding: 0;
      width: auto;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      @include max-screen($sm) {
        margin: 0 auto;
        width: 92%;
      }
      @include max-screen($xs) {
        // margin: 0 ;
      }
      &--box {
        margin: 0 0 20px 20px;
        float: left;
        display: block;
        vertical-align: inherit;
        background: #fff;
        white-space: nowrap;
        width: 220px;
        &:nth-child(3n+1) {
          margin: 0 0 20px;
        }
        @include max-screen($sm) {
          margin: 0 0 4% 4%;
          width: calc(50% - 30px);
          &:nth-child(3n+1) {
            margin: 0 0 4% 4%;
          }
        }
        @include max-screen($xs) {
          margin: 0 0 4% 4%;
          width: 48%;
          &:nth-child(odd) {
            margin: 0 0 4%;
          }
        }

        a {
          display: block;
          color: #333;
          text-decoration: none;
          img {
            height: 220px;
            z-index: 1;
            width: 100%;
            vertical-align: middle;
            object-fit: cover;
            @include max-screen($sm) {
              height: 180px;
            }
          }
          .item-exhibitor__item-box-content--box-body {
            padding: 16px;
            margin: 0;
            h3 {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              font-size: 16px;
              color: #333;
              margin: 0;
              padding: 0;
            }
            &-bottom {
              margin: 8px 0 0;
              &-price {
                font-size: 20px;
                float: left;
                @include max-screen($sm) {
                  font-size: 16px;
                }
              }
              &-like {
                float: right;
                font-size: 16px;
                font-weight: 400;
                color: #333;
              }
              p {
                font-size: 10px;
                clear: both;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}
