header {
  height: 128px;
  text-align: center;
}

main {
  width: 700px;
  margin: 0 auto;
  background: #fff;
  @include max-screen($sm) {
    width: 100%;
  }
}

.head {
  padding: 32px 16px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
}

.buy-product {
  padding: 24px 12.5% 0;
  border-top: 1px solid #f5f5f5;
  &__inner {
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
  }
}

.product {
  &__image {
    width: 148px;
  }
  &__name {
    margin: 8px 0 0;
    font-size: 16px;
    line-height: 1.5;
  }
  &__price {
    margin: 8px 0 0;
    line-height: 1.5;
    font-size: 28px;
  }
  &__postage-burden {
    margin: 0 0 0 8px;
    font-size: 14px;
    font-weight: 400;
  }
}

.point {
  background: #ccc;
  margin: 16px 0 0;
  padding: 16px;
  border: 1px solid #ccc;
}

.bold {
  font-weight: 600;
}

.price {
  display: table;
  width: 100%;
  font-size: 28px;
  &__property {
    display: table-cell;
    padding: 16px 0;
    text-align: left;
  }
  &__value {
    display: table-cell;
    padding: 16px 0;
    text-align: right;
  }
}

.buy-btn {
  display: inline-block;
  margin: 16px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.sold-btn {
  display: inline-block;
  margin: 16px 0 0;
  background: #888;
  border: 1px solid #888;
  color: #fff;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.buyer-info {
  margin: 40px 0 0;
  padding: 24px 12.5% 0;
  border-top: 1px solid #f5f5f5;
  &__inner {
    max-width: 320px;
    margin: 0 auto;
  }
}

.buyer {
  font-weight: bold;
  &__postal-code {
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
  }
  &__domicile {
    font-size: 14px;
    line-height: 1.4;
  }
  &__name {
    font-size: 14px;
    line-height: 1.4;
  }
}

.change {
  margin: 8px 0 0;
  display: block;
  text-align: right;
  color: #0099e8;
  &__right {
  margin-left: 4px;
  font-size: 18px !important;
  }
}

.payment-info {
  margin: 40px 0 0;
  padding: 40px 12.5%;
  border-top: 1px solid #f5f5f5;
  &__inner {
    max-width: 320px;
    margin: 0 auto;
  }
}

.card {
  font-weight: bold;
  &__number {
    margin: 8px 0 0;
    line-height: 1.4;
  }
  &__date {
    line-height: 1.4;
  }
  &__company {
    width: 49px;
    height: 15px;
  }
}

footer {
  width: 456px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
}

.nav {
  &__content {
    display: inline-block;
    font-size: 12px;
    margin-left:12px;
  }
}

.foot-logo {
  margin-top: 40px;
}

.copy-right {
  margin-top:  8px;
  font-size: 12px;
}
