.main-content {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

a.all-item-link {
  font-size: 14px;
  color: #0099e8;
  float: right;
  padding: 0 0 20px 0;
  &:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
}

.edit-container {
  width: 700px;
  padding: 40px;
  background: #fff;
  margin: 40px auto;
  @include max-screen($sm) {
    width: 100%;
    padding: 30px 16px;
  }
  &__or {
    font-size: 15px;
    text-align: center;
    margin: 15px;
  }
}

.item-exhibitor {
  width: 700px;
  margin: 0 auto;
  &__item-box {
    overflow: hidden;
    padding: 0;
    h2 {
      margin: 24px 0 8px;
      line-height: 1.4;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: black;
    }
    .item {
      margin: 20px 0;
      text-align: center;
      a.item__link {
        font-size: 20px;
        color: #0099e8;
        text-decoration: none;
      }
    }
    &-content {
      clear: both;
      padding: 0;
      width: auto;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      &--box {
        margin: 0 0 20px 20px;
        float: left;
        display: block;
        width: 220px;
        height: 330px;
        vertical-align: inherit;
        background: #fff;
        white-space: nowrap;
        &:nth-child(3n+1) {
          margin: 0 0 20px;
        }
        a {
          display: block;
          color: #333;
          text-decoration: none;
          img {
            width: 220px;
            height: 220px;
            z-index: 1;
            width: 100%;
            vertical-align: middle;
            object-fit: contain;
          }
          .item-exhibitor__item-box-content--box-body {
            margin: 5px 30px;
            height: 110px;
            h3 {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              font-size: 16px;
              color: #333;
              margin: 0;
              padding: 0;
            }
            &-bottom {
              margin: 8px 0 0;
              &-price {
                font-size: 20px;
                float: left;
              }
              &-like {
                float: right;
                font-size: 16px;
                font-weight: 400;
                color: #333;
              }
              p {
                font-size: 10px;
                clear: both;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

