.container {
  padding: 0 0 220px;
  .header{
    text-align: center;
    height: 128px;
    width: 100%;
    @include max-screen($sm) {
      height: auto;
    }
    h1 {
      margin: 40px 0 0;
      display: inline-block;
      @include max-screen($sm) {
        margin: 11px 0 12px;
      }
      a {
        width: 185px;
        height: 49px;
        img {
          width: 185px;
          height: 49px;
          @include max-screen($sm) {
            width: 120px;
            height: 33px;
          }
        }
      }
    }
    &-progress {
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      @include max-screen($sm) {
        padding: 16px 0;
        border-top: 1px solid #eee;
        display: block;
        width: 92%;
        margin: 0 auto;
      }
      ol {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          color: #888;
          margin: 0 40px 0 0;
          min-width: 60px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          &:last-child {
            margin: 0;
          }
          @include max-screen($sm) {
            min-width: 30px;
          }
        }
        li.active {
          font-weight: 600;
          color: #ea352d;
          margin: 0 40px 0 0;
          min-width: 60px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          @include max-screen($sm) {
            min-width: 30px;
          }
        }
        li.completed {
          font-weight: 600;
          color: #ea352d;
          min-width: 60px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          @include max-screen($sm) {
            min-width: 30px;
          }
        }
      }
      &-bar-top {
        background: #ea352d;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        &:after {
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          border-style: solid;
          border-width: 0;
        }
      }
      &-bar-top.completed {
        background: #ea352d;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        &:after {
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ea352d;
          border-style: solid;
          border-width: 0;
        }
      }
      &-bar-end {
        background: #ccc;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        &.completed{
          background: #ea352d;
        }
        &:before {
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          border-style: solid;
          border-width: 0;
        }
      }
      &-bar-end.completed {
        background: #ea352d;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        &:before {
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ea352d;
          border-style: solid;
          border-width: 0;
        }
      }
      &-bar {
        background: #ccc;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        &.active {
          background: #ea352d;
        }
        &:before {
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          border-style: solid;
          border-width: 0;
        }
        &:after {
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          border-style: solid;
          border-width: 0;
        }
      }
      &-bar.active {
        background: #ccc;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        &.active {
          background: #ea352d;
        }
        &:before {
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ea352d;
          border-style: solid;
          border-width: 0;
        }
        &:after {
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
          border-style: solid;
          border-width: 0;
        }
      }
      &-bar.completed {
        background: #ea352d;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        &.active {
          background: #ea352d;
        }
        &:before {
          right: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ea352d;
          border-style: solid;
          border-width: 0;
        }
        &:after {
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ea352d;
          border-style: solid;
          border-width: 0;
        }
      }
    }
  }
  .main {
    display: block;
    @include max-screen($sm) {
      width: 100%;
      margin: 0;
    }
    &-section {
      width: 700px;
      margin: 0 auto;
      background: #fff;
      @include max-screen($sm) {
        width: 100%;
        margin: 0;
      }
      h2 {
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        margin: 0;
        @include max-screen($sm) {
          padding: 24px 8px;
          font-size: 18px;
        }
      }
      &-inner {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        @include max-screen($sm) {
          padding: 40px;
        }
        &-container {
          max-width: 320px;
          margin: 0 auto;
          &-mail {
            background-color: #eee;
            color: #000;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
          }
          &-facebook {
            margin: 16px 0 0;
            background-color: #385185;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            cursor: pointer;
            text-align: center;
            min-height: 1.5em;
          }
          &-google {
            margin: 16px 0 0;
            background-color: #dc4e41;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            cursor: pointer;
            text-align: center;
            min-height: 1.5em;
          }
        }
      }
      &__form {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        &-content {
          max-width: 320px;
          margin: 0 auto;
          &.thanks {
            max-width: 320px;
            p {
              text-align: center;
              line-height: 1.5;
              font-size: 16px;
              margin: 0;
            }
          }
          &.credit-card {
            max-width: 320px;
          }
          &-error {
            margin: 8px 0 0;
            line-height: 1.5;
            color: #ea352d;
            display: none;
          }
          p {
            margin: 8px 0 0;
            line-height: 1.5;
          }
          &-group {
            margin: 40px 0 0;
            &:first-child {
              margin: 0;
            }
            label {
              font-weight: 600;
              display: inline-block;
            }
            span {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            input {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
            .field_with_errors{
            input {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid red;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
          }
            select {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              appearance: none;
              position: relative;
              z-index: 2;
              background: 0;
              cursor: pointer;
              &.month-year {
                width: 35%;
                display: block;
              }
            }
            i {
              position: absolute;
              right: 16px;
              top: 50%;
              z-index: 2;
              color: #888;
              font-size: 8px;
              transform: translate(0, -50%);
            }
            &-seqcode {
              margin: 8px 0 0;
              &-text {
                text-align: right;
                color: #0099e8;
              }
            }
            .any {
              background: #ccc;
            }
          }
          &-submit {
            margin: 40px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
          }
          &-bottom {
            margin: 40px 0 0;
            text-align: right;
            a {
              color: #0099e8;
              text-decoration: none;
              i {
                display: inline-block;
                speak: none;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
              }
            }
          }
          &-card {
            margin: 8px 0 0;
            padding: 0;
            list-style: none;
            ul {
              padding: 0;
              li {
                margin: 0;
                display: inline-block;
                vertical-align: middle;
                img {
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    @include max-screen($sm) {
      width: 100%;
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin: 0 0 0 16px;
        font-size: 12px;
        @include max-screen($sm) {
          display: block;
          margin: 16px 0 0;
        }
        a {
          display: block;
          color: #333;
          text-decoration: none;
        }
      }
    }
    &-icon {
      display: block;
      color: #333;
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      text-decoration: none;
    }
    p {
      margin: 8px 0 0;
      small {
        font-size: 12px;
      }
    }
  }
}
.validation-error-mesage{
  margin-top:10px;
  color:red;
}
