.myPage{
  margin:0 auto 0 ;
  width: 1020px;
  padding-bottom:40px;
  padding-top: 40px;
  @include max-screen($lg) {
    width: 700px;
  }
  @include max-screen($sm) {
    width: 100%;
  }

//sideBar
  &__sideBar{
    float: left;
    width: 280px;
    margin-right:40px;
    @include max-screen($lg) {
      width: 700px;
      float: none;
      margin: 40px auto 0;;
    }
    @include max-screen($lg) {
      width: 100%;
    }
    .sideBar-icon{
      float: right;
      color:#ccc;
    }
    &__myLists{
      list-style: none;
      width: 280px;
      @include max-screen($lg) {
        width: auto;
      }
    }
    &__myList{
      border:solid 1px #EEE;
      line-height: 1.5;
      font-size:12px;
      color: #333;
      background-color: #fff;
      & + &{
        border-top:none;
      }
      a {
        color: #333;
        display: block;
        padding: 15px;
        &:visited {
          color: #333;
        }
      }
    }
    &__sales{
      font-size:16px;
      margin-top:40px;
      font-weight: bold;
      @include max-screen($sm) {
        margin: 40px 4% 0;
      }
    }
    &__sales{
      margin-bottom:8px;
    }
    &__salesLists{
      list-style: none;
    }
    &__salesList{
      border:solid 1px #EEE;
      line-height: 1.5;
      font-size:12px;
      color: #333;
      background-color: #fff;
      & + &{
        border-top:none;
      }
      a {
        color: #333;
        display: block;
        padding: 15px;
        &:visited {
          color: #333;
        }
      }
    }
    &__setting{
      font-size:16px;
      margin-top:40px;
      font-weight: bold;
      @include max-screen($sm) {
        margin: 40px 4% 0;
      }
    }
    &__setting{
      margin-bottom:8px;
    }
    &__settingLists{
      list-style: none;
    }
    &__settingList{
      border:solid 1px #EEE;
      line-height: 1.5;
      font-size:12px;
      background-color: #fff;
      a {
        color: #333;
        display: block;
        padding: 15px;
        &:visited {
          color: #333;
        }
      }
      & + &{
        border-top:none;
      }
    }
  }

//main
.myPage__content{
  width: 700px;
  float:right;
  @include max-screen($lg) {
    float: none;
    margin: 0 auto;
  }
  @include max-screen($md) {
    width: 100%;
  }
  &__top__header{
    height: 200px;
    @include background_profile;
    text-align: center;
    a {
      color: #333;
      display: block;
      &:hover {
        opacity: 0.9;
      }
    }
    &__userImage{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: white;
      margin: 0 auto;
      position: relative;
      top:30px;
      img {
        border-radius: 50%;
        max-width: 60px;
        height: 60px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    &__userName{
      margin:35px 0 10px 0;
    }
    &__userEvaluate{
      display: inline-block;
      margin-right:10px;
    }
    &__userExhibit{
      display: inline-block;
    }
  }
  &__top__container__tab__notice{
    width: 50%;
    float: left;
    text-align: center;
    font-size:16px;
    &__font{
      font-size:16px;
      height: 72px;
      line-height: 72px;
      font-weight: bold;
    }
  }
  &__top__container__notice__show{
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background-color:#fff;
    clear: both;
    color:#ccc;
  }
  &__top__container__tab__todo{
    width: 50%;
    background-color:#eee;
    float: right;
    text-align: center;
    font-size:16px;
    &__font{
      font-size:16px;
      height: 72px;
      line-height: 72px;
      font-weight: bold;
    }
  }
  &__top__container__todo__show{
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background-color:#fff;
    display: none;
    clear: both;
    color:#ccc;
  }
  &__bottom__header{
    line-height: 72px;
    font-size: 16px;
    background-color: #fafafa;
    padding:0 16px;
    margin-top:40px;
    font-weight: bold;
  }
  &__bottom__container__tab__purchase{
    width: 50%;
    float: left;
    text-align: center;
    font-size:16px;
    &__font{
      font-size:16px;
      height: 72px;
      line-height: 72px;
      font-weight: bold;
    }
  }
  &__top__container__purchase__show{
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background-color:#fff;
    clear: both;
    color:#ccc;
    &__list{
      text-align: left;
      line-height: 20px;
    }
  }
  &__bottom__container__tab__purchased{
    width: 50%;
    background-color:#eee;
    float: right;
    text-align: center;

    &__font{
      font-size:16px;
      height: 72px;
      line-height: 72px;
      font-weight: bold;
    }
  }
  &__top__container__purchased__show{
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background-color:#fff;
    display: none;
    clear: both;
    color:#ccc;
  }
  &--tabColor{
    background-color: #fff;
    border-top:solid 2px #EA352C;
  }
}

//logoutPage
  .logoutBox{
    width: 700px;
    height:179px;
    background-color: #fff;
    float: right;
    @include max-screen($lg) {
      float: none;
    }
    @include max-screen($lg) {
      width: 100%;
    }
    &__content{
      padding:64px;
      &__button{
        margin: 0 auto;
        text-align:center;
        max-width: 320px;
        color:white;
        line-height: 48px;
        height: 48px;
        background-color:#ea352d;
        &:hover {
          opacity: 0.9;
        }
        a {
          color: #fff;
          display: block;
          &:visited {
            color: #fff;
          }
        }
      }
    }
  }
}

//profile edit
.profile{
  float:right;
  background-color: #fff;
  width: 700px;
  @include max-screen($lg) {
    float: none;
  }
  @include max-screen($md) {
    width: 100%;
  }
  &__heading{
    font-size: 24px;
    padding: 8px 24px;
    text-align:center;
    font-weight: bold;
  }
  &__header{
    padding: 72px 16px 24px;
    @include background_profile;
    text-align: center;
    &__userImage{
      display: inline-block;
      overflow: hidden;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      vertical-align: middle;
      background-color: white;
      img {
        border-radius: 50%;
        max-width: 60px;
        height: 60px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    input {
      width: 220px;
      margin: 0 0 0 8px;
      vertical-align: middle;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    &__userName{
      width: 180px;
      margin: 0 0 0 8px;
      vertical-align: middle;
      padding: 10px 16px 8px;
      height: 28px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    p {
      margin: 8px 0 0;
      color: #ea352d;
    }
    .field_with_errors {
      input {
        width: 220px;
        margin: 0 0 0 8px;
        vertical-align: middle;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ea352d;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
    }
  }
  &__content{
    padding: 40px 16px;
    background-color: #fff;
    &__textarea{
      display: block;
      width: 100%;
      max-width: 100%;
      min-height: 200px;
      padding: 10px;
      box-sizing:border-box;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
    &__bottun{
      margin: 16px 0 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
    }
  }
}
