.header-bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;

  .breadcrumbs {
    overflow: visible;
    width: 1020px;
    margin: 0 auto;
    padding: 17px 0 16px;
    white-space: normal;
    @include max-screen($lg) {
      width: 700px;
    }
    @include max-screen($sm) {
      width: 500px;
    }
    @include max-screen($xs) {
      width: 100%;
      padding: 17px 8px 16px;
    }
    a {
      color: #333;
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }
  .current{
    font-weight: bold;
  }
}
