%header
  %h1
  = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3708647559",class: "head-logo", alt: "mercari", width: 185, height: 49
%main
  .head
    購入を確定しますか？
  .buy-product
    .buy-product__inner
      .product
        = image_tag "https://www.pakutaso.com/shared/img/thumb/TOMcatDSC01994_TP_V.jpg", width: 148
        %p.product__name.bold
          猫
        %p.product__price.bold
          ¥ 10
          %span.product__postage-burden
            着払い
      %ul.point
        ポイントはありません
      .price
        .price__property.bold
          支払い金額
        .price__value.bold
          ¥ 10
      %button.buy-btn.bold
        購入する
  .buyer-info
    .buyer-info__inner
      .buyer
        配送先
      .buyer__postal-code
        〒100-8111
      .buyer__domicile
        東京都 千代田区千代田 1-1
      .buyer__name
        山田 太郎
      .change
        変更する
        %i.fa.fa-angle-right.change__right
  .payment-info
    .payment-info__inner
      .card
        支払い方法
      .card__number
        ************0000
      .card__date
        00 / 00
      = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3708647559", class: "card__company"
      .change
        変更する
        %i.fa.fa-angle-right.change__right
%footer
  %ul.nav
    %li.nav__content
      プライバシーポリシー
    %li.nav__content
      メルカリ利用規約
    %li.nav__content
      特定商取引に関する表記
  .foot-logo
    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3708647559", alt: "mercari", width: 80, height: 65
  .copy-right
    © 2019 Mercari
