%section.item-exhibitor__item-box-content--box
  = link_to product_path(product) do
    = image_tag product.image
    .item-exhibitor__item-box-content--box-body
      %h3
        = product.name
      .item-exhibitor__item-box-content--box-body-bottom.clearfix
        .item-exhibitor__item-box-content--box-body-bottom-price
          = price_format(product.price)
        .item-exhibitor__item-box-content--box-body-bottom-like
          %i
          / アイコンを追加すること
          %span
        %p (税込)
