= render "/logo/header"
#container
  %main.main
    %section.main__section
      %h2 商品の情報を入力
      = form_for @product, html: {class:'dropzone', id: "item-dropzone"} do |f|
        = render "/shared/exhibitor", f: f

= render "/logo/footer"
