.main
  .main-top
    .main-top__content
      .main-top__content__box
        %h2
          スマホでかんたん
          %br
          フリマアプリ
        %p.top-text
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .main-top__store
          %a.left-link{href: ""}
            %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2777205881"}
          %a.right-link{href: ""}
            %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2777205881"}
        %img.main-top__image{src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2777205881"}
  .main-content
    .item-exhibitor
      %section.item-exhibitor__item-box
        %h2
          商品一覧
        .item
          %a.item__link{href: ""}
            新着アイテム
        .item-exhibitor__item-box-content.clearfix
          %section.item-exhibitor__item-box-content--box
            %a{:href => "#"}
              %img{:alt => "", :src => "https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936"}/
              .item-exhibitor__item-box-content--box-body
                %h3 ネットdeきれい＊セーター・ジャケット用
                .item-exhibitor__item-box-content--box-body-bottom.clearfix
                  .item-exhibitor__item-box-content--box-body-bottom-price
                    ¥ 999
                  .item-exhibitor__item-box-content--box-body-bottom-like
                    %i
                    / アイコンを追加すること
                    %span
                  %p (税込)
          %section.item-exhibitor__item-box-content--box
            %a{:href => "#"}
              %img{:alt => "", :src => "https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936"}/
              .item-exhibitor__item-box-content--box-body
                %h3 ネットdeきれい＊セーター・ジャケット用
                .item-exhibitor__item-box-content--box-body-bottom.clearfix
                  .item-exhibitor__item-box-content--box-body-bottom-price
                    ¥ 999
                  .item-exhibitor__item-box-content--box-body-bottom-like
                    %i
                    / アイコンを追加すること
                    %span
                  %p (税込)
          %section.item-exhibitor__item-box-content--box
            %a{:href => "#"}
              %img{:alt => "", :src => "https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936"}/
              .item-exhibitor__item-box-content--box-body
                %h3 ネットdeきれい＊セーター・ジャケット用
                .item-exhibitor__item-box-content--box-body-bottom.clearfix
                  .item-exhibitor__item-box-content--box-body-bottom-price
                    ¥ 999
                  .item-exhibitor__item-box-content--box-body-bottom-like
                    %i
                    / アイコンを追加すること
                    %span
                  %p (税込)
        %a.all-item-link{href: ""}
          すべての商品を見る
        .item-exhibitor__item-box-content.clearfix
          %section.item-exhibitor__item-box-content--box
            %a{:href => "#"}
              %img{:alt => "", :src => "https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936"}/
              .item-exhibitor__item-box-content--box-body
                %h3 ネットdeきれい＊セーター・ジャケット用
                .item-exhibitor__item-box-content--box-body-bottom.clearfix
                  .item-exhibitor__item-box-content--box-body-bottom-price
                    ¥ 999
                  .item-exhibitor__item-box-content--box-body-bottom-like
                    %i
                    / アイコンを追加すること
                    %span
                  %p (税込)
          %section.item-exhibitor__item-box-content--box
            %a{:href => "#"}
              %img{:alt => "", :src => "https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936"}/
              .item-exhibitor__item-box-content--box-body
                %h3 ネットdeきれい＊セーター・ジャケット用
                .item-exhibitor__item-box-content--box-body-bottom.clearfix
                  .item-exhibitor__item-box-content--box-body-bottom-price
                    ¥ 999
                  .item-exhibitor__item-box-content--box-body-bottom-like
                    %i
                    / アイコンを追加すること
                    %span
                  %p (税込)
          %section.item-exhibitor__item-box-content--box
            %a{:href => "#"}
              %img{:alt => "", :src => "https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936"}/
              .item-exhibitor__item-box-content--box-body
                %h3 ネットdeきれい＊セーター・ジャケット用
                .item-exhibitor__item-box-content--box-body-bottom.clearfix
                  .item-exhibitor__item-box-content--box-body-bottom-price
                    ¥ 999
                  .item-exhibitor__item-box-content--box-body-bottom-like
                    %i
                    / アイコンを追加すること
                    %span
                  %p (税込)
        %a.all-item-link{href: ""}
          すべての商品を見る
