.container
  = render "logo/header"
  %main.main
    %section.main__section
      %h2 商品の情報を入力
      %form
        .main__section__inner
          %h3.main__section__inner__group__category
            出品画像
            %span.main__section__inner__group__category__attention 必須
          %p 画像を10枚アップロードできます
        .main__section__inner
          .main__section__inner__group
            %h3.main__section__inner__group__category
              商品名
              %span.main__section__inner__group__category__attention 必須
            %input.main__section__inner__group__textfield{placeholder: "商品名（必須 40文字まで)"}
          .main__section__inner__group
            %h3.main__section__inner__group__category
              商品の説明
              %span.main__section__inner__group__category__attention 必須
            %textarea.main__section__inner__group__textarea{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
        .main__section__inner.clearfix
          %h3.main__section__inner__subCategory
            商品詳細
          .main__section__inner__form
            .main__section__inner__form__group
              %h3.main__section__inner__form__group__subCategory
                カテゴリー
                %span.main__section__inner__form__group__subCategory__attention 必須
              %select.main__section__inner__form__group__select
            .main__section__inner__form__group
              %h3.main__section__inner__form__group__subCategory
                商品の状態
                %span.main__section__inner__form__group__subCategory__attention 必須
              %select.main__section__inner__form__group__select
        .main__section__inner.clearfix
          %h3.main__section__inner__subCategory
            配送料について
          .main__section__inner__form
            .main__section__inner__form__group
              %h3.main__section__inner__form__group__subCategory
                配送料の負担
                %span.main__section__inner__form__group__subCategory__attention 必須
              %select.main__section__inner__form__group__select
            .main__section__inner__form__group
              %h3.main__section__inner__form__group__subCategory
                発送元の地域
                %span.main__section__inner__form__group__subCategory__attention 必須
              %select.main__section__inner__form__group__select
            .main__section__inner__form__group
              %h3.main__section__inner__form__group__subCategory
                発送までの日数
                %span.main__section__inner__form__group__subCategory__attention 必須
              %select.main__section__inner__form__group__select
        .main__section__inner.clearfix
          %h3.main__section__inner__subCategory
            販売価格(300〜9,999,999)
          .main__section__inner__form
            .main__section__inner__form__group
              .main__section__inner__form__group__left
                %h3.main__section__inner__form__group__left__subCategory
                  価格
                  %span.main__section__inner__form__group__left__subCategory__attention 必須
              .main__section__inner__form__group__right
                ¥
                %input.main__section__inner__form__group__right__price{placeholder: "例）300"}
          .main__section__inner__form
            .main__section__inner__form__commission
              .main__section__inner__form__commission__label
                販売手数料(10%)
                .main__section__inner__form__commission__label__number -
            .main__section__inner__form__profits
              .main__section__inner__form__profits__label
                販売利益
              .main__section__inner__form__profits__number -
        .main__section__inner.clearfix
          %p
          禁止されている出品、行為を必ずご確認ください。
          %br/
          またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %br/
          また、出品をもちまして加盟店規約に同意したことになります。
          %button.button 出品する
          %button.back 戻る

  = render "logo/footer"
