<nav class="nav">
  <ul>
    <li>
      <a href="#" >
        <span>メルカリ</span>
      </a>
      <i></i>
    </li>
    <li>
      <a href="#" >
        <span>NIKE DUNK HIGH PREMIUM SB "BAOHAUS"</span>
      </a>
    </li>
  </ul>
</nav>
<section class="item-container">
  <h1>NIKE DUNK HIGH PREMIUM SB "BAOHAUS"</h1>
  <p>NIKE DUNK HIGH PREMIUM SB "BAOHAUS"』は、243回の取引実績を持つROMIさんから出品されました。ナイキ（スニーカー/メンズ）の商品で、神奈川県から4~7日で発送されます。</p>
  <div class="item-container__main clearfix">
    <div class="item-container__main-photo">
      <div class="item-container__main-photo-main">
        <img src="https://mcdn.mercariapp.com/item/detail/orig/photos/m70692846747_1.jpg?1548561871" alt="">
      </div>
      <div class="item-container__main-photo-bottom">
        <div class="item-container__main-photo-bottom-ele">
          <img src="https://mcdn.mercariapp.com/item/detail/orig/photos/m70692846747_1.jpg?1548561871" alt="">
        </div>
        <div class="item-container__main-photo-bottom-ele">
          <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70692846747_2.jpg?1548561871" alt="">
        </div>
        <div class="item-container__main-photo-bottom-ele">
          <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70692846747_3.jpg?1548561871" alt="">
        </div>
        <div class="item-container__main-photo-bottom-ele">
          <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70692846747_4.jpg?1548561871" alt="">
        </div>
        <div class="item-container__main-photo-bottom-ele">
          <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70692846747_5.jpg?1548561871" alt="">
        </div>
      </div>
    </div>
    <table class="item-container__main-table">
      <tbody>
        <tr>
          <th>出品者</th>
          <td>
            <a href="#">ROMI</a>
            <div>
              <div class="item-container__main-table-rating">
                <i class="item-container__main-table-rating-normal-good"></i>
                <span>0</span>
              </div>
              <div class="item-container__main-table-rating">
                <i class="item-container__main-table-rating-normal-normal"></i>
                <span>0</span>
              </div>
              <div class="item-container__main-table-rating">
                <i class="item-container__main-table-rating-normal-bad"></i>
                <span>0</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td class="item-container__main-table-category">
            <a href="#">
              <div>
                メンズ
              </div>
            </a>
            <a href="#">
              <div>
                <i></i>靴
              </div>
            </a>
            <a href="#">
              <div>
                <i></i>スニーカー
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <th>ブランド</th>
          <td>
            <a href="#" >
            <div>
              ナイキ
            </div>
          </a>
          </td>
        </tr>
        <tr>
          <th>商品のサイズ</th>
          <td>26cm</td>
        </tr>
        <tr>
          <th>商品の状態</th>
          <td>新品、未使用</td>
        </tr>
        <tr>
          <th>発送料の負担</th>
          <td>送料込み(出品者負担)</td>
        </tr>
        <tr>
          <th>配送の方法</th>
          <td>未定</td>
        </tr>
        <tr>
          <th>配送元地域</th>
          <td>
            <a href="#">神奈川県</a>
          </td>
        </tr>
        <tr>
          <th>発送日の目安</th>
          <td>4~7日で発送</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="item-container__price">
    <span class="item-container__price-price">¥ 11,000</span>
    <span class="item-container__price-tax">(税込)</span>
    <span class="item-container__price-fee">送料込み</span>
  </div>
  <a class="item-container__buy" href="">購入画面に進む</a>
  <div class="item-container__description">
    <p>ナイキ ダンクハイプレミアム エスビー "バオハウス"

購入後、勿体無くて履けず、ずっと保管していましたが
断捨離をする為、出品する事にしました。
室内での試し履きのみなので、綺麗な状態です☆

ニューヨークに店舗を構えるレストラン、BAOHAUS（バオハウス）とのコラボレーションモデル！インソールにはBAOの具材がプリントされています☆

アッパーは毛足長めなグレーのスウェード、
ソールはクリアブルーでかなり爽やかなデザイン♪
男性でも女性でも合わせやすいカラーだと思います！

カラー WHITE/WHITE-POLARIZED BLUE
品番 313171 114
サイズ US 8/CM 26㎝

箱（少し傷あり）と
変えの靴紐（ブラック）も揃えてお送りします！</p>
  </div>
  <div class="item-container__button clearfix">
    <div class="item-container__button-left">
      <a class="item-container__button-left-like" href="#">
        <i></i>
        <span>いいね！</span>
        <span data-num="like">6</span>
      </a>
      <a class="item-container__button-left-report" href="#">
        <i></i>
        <span>不適切な商品の報告</span>
      </a>
    </div>
    <div class="item-container__button-right">
      <a href="#">
        <i></i>
        <span>あんしん・あんぜんへの取り組み</span>
      </a>
    </div>
  </div>
</section>
<ul class="item-link clearfix">
  <li class="item-link-prev">
    <a href="#">
      <i></i>あずささま専用ページ
    </a>
  </li>
  <li class="item-link-next">
    <a href="#">
      産経 関西ジャニーズjr vol.51,52<i></i>
    </a>
  </li>
</ul>
<div class="item-social-media-box">
  <ul>
    <li>
      <a href="" ><i class="item-social-media-box-facebook"></i></a>
    </li>
    <li>
      <a href="" ><i class="item-social-media-box-twetter"></i></a>
    </li>
    <li>
      <a href="" ><i class="item-social-media-box-pinterest"></i></a>
    </li>
  </ul>
</div>
<div class="item-exhibitor">
  <section class="item-exhibitor__item-box">
    <h2>
      <a href="#">ROMIさんのその他の出品</a>
    </h2>
    <div class="item-exhibitor__item-box-content clearfix">
      <section class="item-exhibitor__item-box-content--box">
        <a href="#">
          <img src="https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936" alt="">
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>ネットdeきれい＊セーター・ジャケット用</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 999
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>1</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        </a>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <a href="#">
          <img src="https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936" alt="">
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>ネットdeきれい＊セーター・ジャケット用</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 999
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>1</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        </a>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <a href="#">
          <img src="https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936" alt="">
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>ネットdeきれい＊セーター・ジャケット用</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 999
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>1</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        </a>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <a href="#">
          <img src="https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936" alt="">
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>ネットdeきれい＊セーター・ジャケット用</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 999
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>1</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        </a>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <a href="#">
          <img src="https://mcdn.mercariapp.com/thumb/photos/m68337163107_1.jpg?1545590936" alt="">
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>ネットdeきれい＊セーター・ジャケット用</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 999
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>1</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        </a>
      </section>
    </div>
    <section class="item-exhibitor__item-box">
    <h2>
      <a href="#">ナイキのスニーカー その他の商品</a>
    </h2>
    <div class="item-exhibitor__item-box-content clearfix">
      <section class="item-exhibitor__item-box-content--box">
        <a href="#">
          <img src="https://mcdn.mercariapp.com/thumb/photos/m41943918196_1.jpg?1548676169" alt="">
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>モテアン 白赤</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 28,000
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>2</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        </a>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <a href="#">
          <img src="https://mcdn.mercariapp.com/thumb/photos/m41943918196_1.jpg?1548676169" alt="">
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>モテアン 白赤</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 28,000
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>2</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        </a>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <a href="#">
          <img src="https://mcdn.mercariapp.com/thumb/photos/m41943918196_1.jpg?1548676169" alt="">
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>モテアン 白赤</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 28,000
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>2</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        </a>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <a href="#">
          <img src="https://mcdn.mercariapp.com/thumb/photos/m41943918196_1.jpg?1548676169" alt="">
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>モテアン 白赤</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 28,000
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>2</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        </a>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <a href="#">
          <img src="https://mcdn.mercariapp.com/thumb/photos/m41943918196_1.jpg?1548676169" alt="">
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>モテアン 白赤</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 28,000
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>2</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        </a>
      </section>
    </div>
  </section>
</div>
