%footer.footer-gray
  %nav
    %ul.clearfix
      %li
        %a{href: "#"} プライバシーポリシー
      %li
        %a{href: "#"} メルカリ利用規約
      %li
        %a{href: "#"} 特定商取引に関する表記
  %a.footer-gray-icon{href: "#"}
    = image_tag 'mercalli_logo-gray.svg'
  %p
    %small © 2019 Mercari

