%footer.footer-gray
  %nav
    %ul.clearfix
      %li
        %a{href: "#"} プライバシーポリシー
      %li
        %a{href: "#"} メルカリ利用規約
      %li
        %a{href: "#"} 特定商取引に関する表記
  %a.footer-gray-icon{href: "#"}
<<<<<<< HEAD
    = image_tag 'mercalli_logo-gray.svg'
=======
    %img{src: '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?1966943736'}
>>>>>>> add_model_of_User_and_Product
  %p
    %small © 2019 Mercari

